#
# Archivo de configuración de OpenSSL para la CA Raíz de la Fábrica Nacional de Moneda y Timbre (FNMT)
#

HOME            = .
RANDFILE        = $ENV::HOME/.rnd

# Definiciones adicionales de identificadores de objeto
oid_section     = new_oids

[ new_oids ]
# Aquí se pueden agregar nuevos OID si es necesario

####################################################################
[ ca ]
default_ca       = CA_default    # Sección predeterminada para la CA

####################################################################
[ CA_default ]

dir             = ./              # Directorio base
certs           = $dir/certificados     # Certificados emitidos
crl_dir         = $dir/crls             # Listas de revocación (CRL)
database        = $dir/index.txt        # Base de datos de certificados emitidos
new_certs_dir   = $dir/nuevoscerts      # Nuevos certificados
certificate     = $dir/fnmyt_cert.pem    # Certificado de la CA
serial          = $dir/serial           # Número de serie actual
private_key     = $dir/privado/fnmt_key.pem # Clave privada de la CA
RANDFILE        = $dir/privado/.rand    # Archivo de números aleatorios privados

# Extensiones X.509v3 para los certificados emitidos
x509_extensions = v3_subca

# Duración de los certificados emitidos
default_days    = 3650           # Certificados válidos por 10 años
default_crl_days= 30             # CRL válidos por 30 días
default_md      = sha256         # Algoritmo de hash predeterminado
preserve        = no             # Mantener el orden del DN proporcionado

# Política para la verificación de las solicitudes
policy          = policy_match

####################################################################
[ policy_match ]
countryName             = supplied
stateOrProvinceName     = optional
organizationName        = supplied
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

####################################################################
[ req ]
default_bits        = 4096
default_keyfile     = ./privado/fnmt_key.pem
default_md          = sha256
prompt              = no
distinguished_name  = req_distinguished_name
x509_extensions     = v3_ca

[ req_distinguished_name ]
countryName         = ES
stateOrProvinceName = Madrid
organizationName    = Fabrica Nacional de Moneda y Timbre
commonName          = FNMT Root CA
emailAddress        = admin@fnmt.es

####################################################################
[ v3_ca ]
# Extensiones para un certificado de CA raíz
basicConstraints = critical,CA:TRUE
keyUsage = critical, cRLSign, keyCertSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always

####################################################################
[ v3_subca ]
# Extensiones para un certificado de CA subordinada
basicConstraints = critical,CA:TRUE,pathlen:0
keyUsage = critical, cRLSign, keyCertSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always

####################################################################
[ crl_ext ]
# Extensiones para una lista de revocación (CRL)
authorityKeyIdentifier = keyid:always,issuer:always